body {
    padding-top: 60px;
}

.logo {
    font-family: 'Style Script' ,cursive;
    font-size: 35px;
    font-weight: 500;
    margin-left: 20px;
}

h2 {
    color: #1e6091;
}
ul {
    width: 100%;
}

.part1 {
    font-size: 3.5rem;
}
.part2 {
    font-size: 1.5rem;
    color: lightslategrey;
}
.part3 {
    font-size: 1.2rem;
    color: lightslategray;
}

.bio {
    width: 50vw;
    margin-top: 50px;
}

li {
    margin-right: 30px;
    padding: 10px;
    font-size: 1.2rem
}

section {
    border-radius: 12px;
    padding: 30px;
    margin: 20px auto;
    border: 1px solid #ccc;
    width: 90vw;
    height: auto;
    box-shadow: 2px 3px 3px rgb(228, 225, 225);
}

img {
    width: 30vw;
}

.icons {
    padding: 10px;
    cursor: pointer;
}

.progress {
    margin: 10px;
    height: 25px;
    font-size: 1.2rem;
    cursor: pointer;
}

footer {
    height: auto;
    background-color: #0a9396;
    font-family: 'Style Script' ,cursive;
    padding: 10px;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.774);
}